.App {
  padding: 50px 0;

  .input-box {
    display: flex;
    width: 348px;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;

    input {
      display: block;
      width: 150px;
      height: 20px;
      padding: 5px;
      margin: 5px;
      border-radius: 10px;
      border: 1px solid #CDCDCD;
    }
  }

  button {
    background-color: #282828;
    cursor: pointer;
    width: 150px;
    display: block;
    color: white;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    margin: 15px auto;
  }

  .error {
    text-align: center;
    color: red;
  }

  .ticket {
    background-color: white;
    width: 350px;
    height: 150px;
    margin: 10px auto;
    border-radius: 15px;
    padding: 10px 35px;
    position: relative;
    .road {
      display: flex;

      .gg-arrow-long-right {
        width: 180px !important;
        margin: 22px 10px;
      }

      p {
        text-align: center;
      }

      span {
        display: block;
        color: grey;
        font-size: 14px;
        text-align: center;
      }
      .destination {
        margin-left: auto;
      }
    }

    .separator {
      width: 100%;
      background-color: #DBD7D7;
      height: 1px;
      position: absolute;
      left: 0;
      margin-top: 30px;
    }

    .info {
      display: flex;
      margin-top: 43px;
      padding: 0 10px;

      p:last-child  {
        margin-left: auto;
      }
    }
  }
}